streamlit
streamlit_extras
streamlit-folium
folium
wxee
tqdm
joblib==1.4.0
scikit-learn
tensorflow==2.13.0
xgboost
leafmap
geemap==0.10.0
ipyleaflet==0.18.2
ipywidgets==8.0.4
IPython==8.5.0
typing_extensions==4.3.0
click
